<form action="/memos" method="POST">

  <input type="hidden" name="_method" value="PATCH">
  <input type='hidden' name='memo_id' value='<%= @file_name %>'>

  タイトル:<input type="text" name="title" value="<%= h(@memo['title']) %>">

  <div>
  メモ:
  <textarea name="detail" rows="5"><%= h(@memo['detail']) %></textarea>
  </div>

  <input type="submit" value="保存">

  </form>
