
<p>
  <a href="memos/new">新規作成</a>
  <ul>
    <% @url_titles.each do |link,title| %>
    <li><a href="memos/<%= File.basename("#{link}") %>">
    <%=
    if title.strip.empty?
      "タイトルがありません"
    else
      h(title)
    end
    %></a></li>
    <% end %>
  <ul>
</p>
