
<p>
  <a href="memos/new">新規作成</a>
  <ul>
    <% @url_titles.each do |title,link| %>
    <li><a href="memos/<%= File.basename("#{link}") %>">
      <% if title.strip.empty? %>
        <span style="color: #CCC;">「タイトルがありません」</span>
      <% else %>
        <%= h(title) %>
      <% end %>
    </a></li>
    <% end %>
  <ul>
</p>
